<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>

<body>
    <h3>Forgot Password!</h3>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: red;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/forgot_password" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required="">
        <label>New Password:</label>
        <input type="password" name="pswd1" required="">
        <label>Confirm New Password:</label>
        <input type="password" name="pswd2" required="">
        <input type="submit" value="RESET">
    </form>
</body>

</html>
