<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Spin</title>
</head>
<header>
    <section>
        <nav>
            <ul>
                <li>LuckySpin</li>
                <li><a href="/login"><button>Login</button></a></li>
                <li><a href="/signup"><button>Sign Up</button></a></li>
            </ul>
        </nav>
    </section>

</header>

<body>
    <section>
         <div class="container">
            <h1>Welcome to <span class="highlight">Lucky Spin</span></h1>
            <p></p>

            <form action="/login" method="GET">
                <input type="submit" value="GET STARTED">
            </form>
        </div>
    </section>

</body>
<footer>
    <p>
        <strong>Disclaimer:</strong> This is a demonstration website for educational or simulation purposes only.
        It is not affiliated with, endorsed by, or intended to replicate any official lottery or gambling platform,
        including Lottery SA.
        No real money is involved. Note that this is not a one-to-one simulation of the national lottery. 
    </p>
</footer>

</html>