<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Spin - Menu</title>
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li>LuckySpin</li>
                </ul>
            </nav>
        </div>
    </header>
    
    <h1>Welcome, {{ full_name }}</h1>
    <h2>Your Balance: R {{ balance }}</h2>

    <h3>Options available for game</h3>
    <ul>
        <li><a href="/play">Play Game</a></li>
        <li><a href="/history">History Game</a></li>
        <li><a href="/topup">Top up</a></li>
    </ul>

    <form action="/logout" method="post">
        <input type="submit" value="LOGOUT">
    </form>
</body>
</html>
